<h1>
  Write Messages
</h1>
<div class="row">
  <div class="column">
    <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
    <br>
    <button (click)="send()">Send Message</button>
  </div>
</div>

<div>
  <div style="width: 50%; display: inline-block">
    <h1>Sent Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of sendMessages">From: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>
  <div style="width: 50%; display: inline-block">
    <h1>Received Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of receivedMessages">From: {{item.source}} -> Content {{item.content}}</li>
    </ul>
  </div>
</div>

